/* Footer */
footer p {
  color: #34252F;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #3B5249;
  font-weight: 600;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #519872;
  text-decoration: underline;
}
